input[type="checkbox"]{
  display: none;
}
input[type="checkbox"] + label{
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #959595;
}
input[type="checkbox"] + label::before{
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border:1px solid #959595;
}
input[class="checkbox"]:checked + label::before{
  content: url('https://api.iconify.design/ph/caret-down.svg?color=white&width=18');
  text-align: center;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: #404D98;
}